# This file is a "template" of what your parameters.yml file should look like
parameters:

    # General
    site_url:           http://127.0.0.1:8000
    site_brand:         Blalmanac
    site_description:   Room availability board
    site_default_title: Room availability board

    # Database
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # Emails
    mailer_transport:    smtp
    mailer_encryption:   ssl
    mailer_host:         127.0.0.1
    mailer_port:         465
    mailer_user:         ~
    mailer_password:     ~
    mailer_sender_email: auto@fuz.org
    mailer_sender_name:  fuz.org

    # Choose flag names in: src/Fuz/QuickStartBundle/Resources/public/img/countries
    # Implement translations in: src/AppBundle/translations/messages.XX.xlf
    # Do not forget to add your new locales in config.yml, below jms_i18n_routing
    locale: en
    supported_locales: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # On-site registration (standard login form)
    login_form: false

    # Google Login: https://console.developers.google.com/project
    google_enabled:   true
    google_client_id: <your client id>
    google_secret:    <your secret>
    google_api_key:   <your google api key to connect Calendar>

    # Facebook Login: https://developers.facebook.com/apps/
    facebook_enabled:   false
    facebook_client_id: <leave this>
    facebook_secret:    <leave this>

    # Twitter Login: https://apps.twitter.com/
    twitter_enabled:   fakse
    twitter_client_id: <leave this>
    twitter_secret:    <leave this>

    # noCaptcha Credentials:
    nocaptcha_site_key:              <leave this>
    nocaptcha_secret_key:            <leave this>
    nocaptcha_sessions_per_ip_max:   20
    nocaptcha_sessions_per_ip_delay: 3600

    # Website menus at the top
    menu_left_enabled: true
    menu_right_enabled: true

    # Photos (this url will be appended by the md5 of the trimmed email)
    photo_prefix: ~

    # Admins
    admins:
        - alain.tiemblo@blablacar.com
