<table width="100%"><tr><td class="text-center">

      <div class="text-center">
	<img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/blablacar-ridesharing-logo.png"/>
      </div>

</td><td class="text-center">

      <div class="text-center" style="font-size: 48px;">
	{{ 'now' | date("H:i") }}
      </div>

      <div class="text-center" style="font-size: 24px;">
	{{ 'now' | date("l d F Y") }}
      </div>

</td></tr></table>
