{% extends 'AppBundle::layout.html.twig' %}

{% block head %}{% endblock %}

{% block body %}

    <div id="date">
        {{ include('AppBundle:Default:_datetime.html.twig') }}
    </div>

    <div id="space" class="text-center">&nbsp;</div>

    <table
        style="font-size: 48px;"
        class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="35%" class="text-center">Room</th>
                <th width="65%" class="text-center" colspan="2">Meeting details</th>
            </tr>
        </thead>
        <tbody>

            {% for id, room in rooms %}
                <tr id="{{ id }}">
                    <td class="room room-name">{{ room.name }}</td>
                    <td class="room room-details" width="45%" style="font-size: 24px;">
                        <div class="room-event room-event-details">&nbsp;</div>
                        <div class="room-event room-event-mate">&nbsp;</div>
                    </td>
                    <td class="room room-event room-times" width="20%" style="font-size: 24px;">
                        &nbsp;
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <br/>

    <div class="text-center">
        <img src="https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/blablacar-ridesharing-logo.png"/>
    </div>

    <br/><br/>
    <br/><br/>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        $(document).ready(function() {
            setInterval(function() {
                refreshRoomStatuses();
            }, 30000);
            refreshRoomStatuses();
        });

        function refreshRoomStatuses() {

            $('#space').html($('#wait').html() + '<br/>');

            $.get('{{ path('status', {criteria: criteria}) }}', function(data) {

                if (data.redirect !== null) {
                    window.location = data.redirect;
                    return ;
                }

                $('#date').html(data.date);

                $.each(data.statuses, function(id, room) {
                    $('#' + id + ' .room-event').html('');
                    $('#' + id + ' .room').css('background-color', null);

                    if (room.availability === null) {
                        $('#' + id + ' .room-details').html('<center><em>Information not available</em></center>');
                    } else {
                        var isFree = room.availability.status === 'free';

                        if (isFree) {

                            // there will be an event today
                            if (room.availability.event !== null) {

                                // Green (free room)
                                $('#' + id + ' .room').css('background-color', '#BBFFBB');

                                // Meeting in the next 30 mins: Yellow
                                if (room.availability.event.start - data.time < 1800) {
                                    $('#' + id + ' .room').css('background-color', '#FFFFAA');
                                }

                            } else {

                                // Green (free room)
                                $('#' + id + ' .room').css('background-color', '#99FF99');

                                $('#' + id + ' .room-event-details').html('No events today');

                            }

                        } else {
                            // Red (busy room)
                            $('#' + id + ' .room').css('background-color', '#FFAAAA');
                        }

                        if (room.availability.event !== null) {
                            $('#' + id + ' .room-event-details').html((isFree ? 'Next meeting: "' : 'Current meeting: "') + room.availability.event.details + '"');
                            $('#' + id + ' .room-event-mate').html('<em>Organized by ' + room.availability.event.mate + '</em>');
                            $('#' + id + ' .room-times').html('From ' + room.availability.event.start_f + ' to ' + room.availability.event.end_f);
                        }
                    }
                });

                $('#space').html('&nbsp;');
            });
        }

    </script>
{% endblock %}
