{% extends 'AppBundle::layout.html.twig' %}

{% block head %}

<style>
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width:80%;
}
</style>

{% endblock %}

{% block body %}

<div id="content">
    {{ include('AppBundle:Default:_body.html.twig') }}
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="book-slot"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Close the window" style="font-size: 40px;">Close</button>
            </div>
        </div>
    </div>
</div>

<button id="open-modal" class="hide" arial-hidden="true" data-toggle="modal" data-target="#modal">Open</button>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        $(document).ready(function () {
            setInterval(function () {
                refreshRoomStatuses();
            }, 30000);
            refreshRoomStatuses();
        });

        function refreshRoomStatuses() {
            $.get('{{ path('status', {criteria: criteria, ipad: ipad}) }}', function (data) {
                if (data.redirect !== null) {
                    window.location = data.redirect;
                    return;
                }

                $('#content').html(data.body);
            });
        }

        $('body').on('click', '.book', function() {
            var that = $(this);
            $('.book-name').html(that.data('name'));
            $('.book-slot').html(that.data('slot'));
            $('#open-modal').click();
        });

    </script>
{% endblock %}
