{% extends 'AppBundle::layout.html.twig' %}

{% block head %}{% endblock %}

{% block body %}

<div id="body">
    {{ include('AppBundle:Default:_body.html.twig') }}
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        $(document).ready(function () {
            setInterval(function () {
                refreshRoomStatuses();
            }, 30000);
            refreshRoomStatuses();
        });

        function refreshRoomStatuses() {

            $('#space').html($('#wait').html() + '<br/>');

            $.get('{{ path('status', {criteria: criteria}) }}', function (data) {
                if (data.redirect !== null) {
                    window.location = data.redirect;
                    return;
                }

                $('#body').html(data.body);
                $('#space').html('&nbsp;');
            });
        }

    </script>
{% endblock %}
